@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

.App {
  font-family: "DM Sans", sans-serif;
  text-align: center;
}

input {
  font-size: inherit;
  font-family: inherit;
  padding: 1rem;
  width: 60%;
}
