@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

.App {
  font-family: "DM Sans", sans-serif;
  text-align: center;
}

input {
  font-size: inherit;
  font-family: inherit;
  padding: 1rem;
  width: 60%;
  border: 1px solid black;
  border-radius: 4px;
}

.outputDiv {
  margin-top: 0.75rem;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 1rem;
}

.flagDiv {
  background-color: #cccccc;
  padding: 0.5rem;
  border-radius: 8px;
}

.flagDiv p {
  margin: 0px;
  margin-bottom: 0.75rem;
}

.flagDiv .flagHolder {
  padding: 0.5rem;
  font-size: 32px;
  cursor: pointer;
}
